<h1 class="heading">Employee Management System</h1>
<div class="container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th (click)="sort('name')">Name</th>
          <th>Email</th>
          <th (click)="sort('department')">Department</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employees | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
          <td>{{ emp.id }}</td>
          <td>{{ emp.name }}</td>
          <td>{{ emp.email }}</td>
          <td>{{ emp.department }}</td>
          <td>
            <button [routerLink]="['edit', emp.id]">Edit</button>
            <button class="delete-button" *ngIf="emp.id !== undefined" (click)="delete(emp.id)">Delete</button>

          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <div class="buttons">
    <button class="excel-btn" (click)="exportToExcel()">Print Employee Details</button> 
    <button class="add-emp-btn" routerLink="/employees/add">Add Employee</button>
    </div>  

  </div>
  